<!-- index.hbs -->
<h1>Los Santos School District</h1>

<h1>INDEX PAGE (Group 115)</h1>

<h2><a href="schools.hbs">Schools Page</a></h2>
    <p>This page allows user to browse the schools, add new schools, 
        update current schools, or delete schools</p>

<h2><a href="teachers.hbs">Teachers Page</a></h2>
    <p>View list of teachers, add or delete teachers, or change a teacher's school</p>

<h2><a href="students.hbs">Students Page</a></h2>
    <p>View list of students, add or delete students, or change a student's school</p>

<h2><a href="classes.hbs">Classes Page</a></h2>
    <p>View list of classes, add or delete classes, or change a class's teacher</p>

<h2><a href="students_classes.hbs">Students_Classes Page</a></h2>
    <p>View what students are taking what classes, add or delete student-class relationship</p>
    <p>TODO: ALL</p>