<!-- schools.hbs -->
<h1>Los Santos School District</h1>
<h2>Schools</h2>

<a href="/">Home</a> <a href="/schools.hbs">Schools</a> <a href="/teachers.hbs">Teachers</a> <a href="/students.hbs">Students</a> <a href="/classes.hbs">Classes</a> <a href="/students_classes.hbs">Students_Classes</a>

<h2>Search Using an HTML Form</h2>
<p>Search by school name using the field below. Partial school names are OK too!</p>
<form id="search-school-html" method='GET' action='/schools.hbs'>
    <label for="input-school_name">Search by School Name: </label>
    <input type="text" name="school_name" id="input-school_name-html-search">
    
    <input type="submit">
    <a href='/schools.hbs'><button>Reset</button></a>
</form>

<br><br><br>

{{!-- Create a table --}}
<table id="schools-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the school_id and school_name, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.school_id}}</td>
            <td>{{this.school_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new school, please enter the information below and click 'Submit'!</p>
<form id="add-school-form-ajax">
    <label for="input-school_name">School Name: </label>
    <input type="text" name="input-school_name" id="input-school_name">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_school.js"></script>